:root {
    // ** MAIN **

    // containers 
    --container-padding: 160px;
    --container-padding-mobile: 32px;

    // fonts 
    --font-family-main: 'Inter', sans-serif;
    --font-family-headline: 'Poppins', sans-serif;

    // font-weight
    --font-weight-main: 400;
    --font-weight-headline: 500;
    --font-weight-secondary: 600;
    --font-weight-accent: 700;

    // colors-main
    --text-color-main: #000000;
    --text-color-main-accent: #3E3E59;
    --bgc-main: #FFFFFF;

    // colors
    --secondary-color-1: #377DFF;
    --secondary-color-2: #38CB89;
    --secondary-color-3: #FFAB00;
    --secondary-color-4: #FF5630;
    --neutral-color-01: #FEFEFE;
    --neutral-color-02: #F3F5F7;
    --neutral-color-03: #E8ECEF;
    --neutral-color-04: #6C7275;
    --neutral-color-05: #343839;
    --neutral-color-06: #232627;
    --neutral-color-07: #141718;

    // border
    --brs-1: 8px;
    --brs-2: 80px;
    --brs-3: 50%;
    --brs-4: 10px;
    --brs-5: 4px;
    --brs-main-mobile: 6px;
    --border-main: 1px solid var(--neutral-color-07);
    --border-main-fair: 1px solid var(--neutral-color-04);
    --border-secondary: 2px solid var(--neutral-color-01);
    --border-tertiary: 2px solid var(--neutral-color-04);
    --border-quaternary: 2px solid var(--neutral-color-02);
    --border-accent: 2px solid var(--secondary-color-1);
    --border-bottom-main: 1px solid var(--neutral-color-03);
    --box-shadow: 0 64px 64px -48px rgba(15, 15, 15, 0.1);
    --box-shadow-secondary: 0 8px 16px -8px rgba(15, 15, 15, 0.12);

    // button
    --button-height-main: 52px;
    --button-height-main-mobile: 32px;
    --button-height-secondary: 46px;
    --button-height-tertiary: 40px;

    // animation
    --transition: all ease-in 0.2s;
    --transition-accordeon: all ease-in-out 0.5s;
    --transform: scale(1.1);
    --transition-duration: 0.2s;
    --transition-easing: ease-in;

    // icons
    --icon-size-main: 24px;
    --icon-size-secondary: 20px;
    --icon-size-main-mobile: 16px;

    // counters
    --min-size-counter: 20px;
    --padding-counter: 6px;
    --font-family-counter: var(--font-family-main);
    --font-weight-counter: 700;
    --font-size-counter: 12px;
    --line-height-counter: 0.83;

    // avatar
    --avatar-size: 80px;
    --edit-size: 30px;

    // link
    --link-opacity: 0.6;

    // page 
    --margin-1: 80px; 
    --margin-2: 48px; 
    --margin-3: 40px; 
    --margin-4: 32px; 

    // spacing
    --gap-main: 24px;
    --gap-main-mobile: 16px;
    --gap-window: 19px;
    --gap-category: 12px;
    --gap-category-secondary: 4px;
    --gap-stars: 2px;
    --padding-border-bottom: 8px;
    --margin-bottom-main: 80px;
    --margin-bottom-main-mobile: 40px;
    --margin-bottom-secondary-mobile: 16px;

    // field
    --fieldInputPaddingX: 16px;
    
    // width-height
    --height-main: 52px;
    --height-main-mobile: 46px;
    --height-secondary: 32px;
    --width-main: 127px;
    --width-secondary: 80px;

    // modal
    --bgc-overlay: rgba(0, 0, 0, 0.32);
    --bgc-panel: #FFFFFF;
    --transition-panel: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    
    // ** TYPOGHAPHY **

    // headlines
    --headline_1_font-family: var(--font-family-headline);
    --headline_1_font-weight: var(--font-weight-headline);
    --headline_1_font-size: 80px;
    --headline_1_line-height: 1.05;
    --headline_1_letter-spacing: -0.0375em;

    --headline_2_font-family: var(--font-family-headline);
    --headline_2_font-weight: var(--font-weight-headline);
    --headline_2_font-size: 72px;
    --headline_2_line-height: 1.06;
    --headline_2_letter-spacing: -0.02777778em;

    --headline_3_font-family: var(--font-family-headline);
    --headline_3_font-weight: var(--font-weight-headline);
    --headline_3_font-size: 54px;
    --headline_3_line-height: 1.07;
    --headline_3_letter-spacing: -0.0185185em;

    --headline_4_font-family: var(--font-family-headline);
    --headline_4_font-weight: var(--font-weight-headline);
    --headline_4_font-size: 40px;
    --headline_4_line-height: 1.1;
    --headline_4_letter-spacing: -0.01em;

    --headline_5_font-family: var(--font-family-headline);
    --headline_5_font-weight: var(--font-weight-headline);
    --headline_5_font-size: 34px;
    --headline_5_line-height: 1.12;
    --headline_5_letter-spacing: -0.017647em;

    --headline_6_font-family: var(--font-family-headline);
    --headline_6_font-weight: var(--font-weight-headline);
    --headline_6_font-size: 28px;
    --headline_6_line-height: 1.21;
    --headline_6_letter-spacing: -0.02142857em;

    --headline_7_font-family: var(--font-family-headline);
    --headline_7_font-weight: var(--font-weight-headline);
    --headline_7_font-size: 20px;
    --headline_7_line-height: 1.35;
    --headline_7_letter-spacing: 0em;

    // hairlines
    --hairline_1_font-family: var(--font-family-main);
    --hairline_1_font-weight: var(--font-weight-accent);
    --hairline_1_font-size: 16px;
    --hairline_1_line-height: 1;
    --hairline_1_letter-spacing: 0em;

    // texts
    --text_1_font-family: var(--font-family-main);
    --text_1_font-weight-1: var(--font-weight-main);
    --text_1_font-weight-2: var(--font-weight-secondary);
    --text_1_font-weight-3: var(--font-weight-accent);
    --text_1_font-size: 26px;
    --text_1_line-height: 1.54;
    --text_1_color: var(--text-color-main-accent);

    --text_2_font-family: var(--font-family-main);
    --text_2_font-weight-1: var(--font-weight-main);
    --text_2_font-weight-2: var(--font-weight-secondary);
    --text_2_font-weight-3: var(--font-weight-accent);
    --text_2_font-size: 22px;
    --text_2_line-height: 1.55;
    --text_2_color: var(--text-color-main-accent);

    --body_1_font-family: var(--font-family-main);
    --body_1_font-weight-1: var(--font-weight-main);
    --body_1_font-weight-2: var(--font-weight-secondary);
    --body_1_font-weight-3: var(--font-weight-accent);
    --body_1_font-size: 20px;
    --body_1_line-height: 1.6;
    --body_1_color: var(--text-color-main-accent);

    --text_3_font-family: var(--font-family-main);
    --text_3_font-weight-1: var(--font-weight-main);
    --text_3_font-weight-2: var(--font-weight-secondary);
    --text_3_font-weight-3: var(--font-weight-accent);
    --text_3_font-size: 18px;
    --text_3_line-height: 1.67;
    --text_3_color: var(--text-color-main-accent);

    --body_2_font-family: var(--font-family-main);
    --body_2_font-weight-1: var(--font-weight-main);
    --body_2_font-weight-2: var(--font-weight-secondary);
    --body_2_font-weight-3: var(--font-weight-accent);
    --body_2_font-size: 16px;
    --body_2_line-height: 1.62;
    --body_2_color: var(--text-color-main-accent);

    --caption_1_font-family: var(--font-family-main);
    --caption_1_font-weight-1: var(--font-weight-main);
    --caption_1_font-weight-2: var(--font-weight-secondary);
    --caption_1_font-weight-3: var(--font-weight-accent);
    --caption_1_font-size: 14px;
    --caption_1_line-height: 1.57;
    --caption_1_color: var(--text-color-main-accent);

    --caption_2_font-family: var(--font-family-main);
    --caption_2_font-weight-1: var(--font-weight-main);
    --caption_2_font-weight-2: var(--font-weight-secondary);
    --caption_2_font-weight-3: var(--font-weight-accent);
    --caption_2_font-size: 12px;
    --caption_2_line-height: 1.67;
    --caption_2_color: var(--text-color-main-accent);

    // buttons

    --button-xl-font-family: var(--font-family-main);
    --button-xl-font-weight: var(--font-weight-button);
    --button-xl-font-size: 26px;
    --button-xl-line-height: 1.46;
    --button-xl-letter-spacing: 0em;

    --button-l-font-family: var(--font-family-main);
    --button-l-font-weight: var(--font-weight-button);
    --button-l-font-size: 22px;
    --button-l-line-height: 1.55;
    --button-l-letter-spacing: 0em;

    --button-m-font-family: var(--font-family-main);
    --button-m-font-weight: var(--font-weight-button);
    --button-m-font-size: 18px;
    --button-m-line-height: 1.78;
    --button-m-letter-spacing: -0.0222222222em;

    --button-s-font-family: var(--font-family-main);
    --button-s-font-weight: var(--font-weight-button);
    --button-s-font-size: 16px;
    --button-s-line-height: 1.75;
    --button-s-letter-spacing: -0.025em;

    --button-xs-font-family: var(--font-family-main);
    --button-xs-font-weight: var(--font-weight-button);
    --button-xs-font-size: 14px;
    --button-xs-line-height: 1.71;
    --button-xs-letter-spacing: 0em;
}