@use '@/shared/lib/styles/mixins' as *;
@use '@/shared/lib/styles/scss-vars' as *;

.wrapper {
  gap: 5px;

  @media (max-width: $mobile-size) {
    @include fluid-property(gap, 5px);
  }

  .heart {
    @media (max-width: $mobile-size) {
      @include fluid-property(width, var(--icon-size-main));
      @include fluid-property(height, var(--icon-size-main));
    }
  }

  .count {
    min-width: var(--min-size-counter);
    min-height: var(--min-size-counter);
    padding-left: var(--padding-counter);
    padding-right: var(--padding-counter);
    color: var(--neutral-color-01);
    background-color: var(--neutral-color-07);
    border-radius: var(--brs-4);
    font-family: var(--font-family-counter);
    font-weight: var(--font-weight-counter);
    font-size: var(--font-size-counter);
    line-height: var(--line-height-counter);

    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $mobile-size) {
      @include fluid-property(min-width, var(--min-size-counter));
      @include fluid-property(min-height, var(--min-size-counter));
      @include fluid-property(padding-left, var(--padding-counter));
      @include fluid-property(padding-right, var(--padding-counter));
      @include fluid-property(font-size, var(--font-size-counter));
      @include fluid-property(border-radius, var(--brs-4));
    }
  }
}