@use '../../lib/styles/mixins' as *;
@use '../../lib/styles/scss-vars' as *;

.link {
  color: var(--neutral-color-07);

  font-family: var(--button-s-font-family);
  font-weight: var(--button-s-font-weight);
  font-size: var(--button-s-font-size);
  line-height: var(--button-s-line-height);
  letter-spacing: var(--button-s-letter-spacing);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition: var(--transition);
  position: relative;

  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  user-select: none;
  -webkit-touch-callout: none;

  @media (max-width: $mobile-size) {
    @include fluid-property(font-size, var(--button-s-font-size));
    @include fluid-property(letter-spacing, var(--button-s-letter-spacing));
  }

  &.primary {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: var(--link-opacity);
      }
    }

    @media (hover: none) and (pointer: coarse) {
      &:active {
        opacity: var(--link-opacity);
      }
    }

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      background-color: var(--neutral-color-07);
      left: 0;
      bottom: 0;
      width: 100%;
      transition: var(--transition);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        &::before{
          opacity: var(--link-opacity);
        }
      }
    }

    @media (hover: none) and (pointer: coarse) {
      &:active {
        &::before{
          opacity: var(--link-opacity);
        }
      }
    }

    .arrowRight {
      width: 20px;
      height: 20px;

      margin-left: 4px;
    }
  }
}

.navLink {
  color: var(--neutral-color-04);

  font-family: var(--font-family-main);
  font-weight: var(--font-weight-button);
  font-size: 14px;
  line-height: 1.71;

  transition: var(--transition);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: var(--link-opacity);
    }
  }

  @media (hover: none) and (pointer: coarse) {
    &:active {
      opacity: var(--link-opacity);
    }
  }
}

.navLinkActive {
  color: var(--neutral-color-07);
}