@use '@/shared/lib/styles/mixins' as *;
@use '@/shared/lib/styles/scss-vars' as *;

.slider {
  margin-bottom: var(--margin-4);

  @media (max-width: $mobile-size) {
    @include fluid-property(margin-bottom, var(--margin-4));
  }

  img {
    height: 536px;
    width: 100%;
    object-position: bottom;
    object-fit: cover;

    @media (max-width: $mobile-size) {
      @include fluid-property(height, 304px);
    }
  }
}

.hero {
  margin-bottom: var(--margin-3);

  @media (max-width: $mobile-size) {
    @include fluid-property(margin-bottom, var(--margin-3));
  }
}

.showcase {
  margin-bottom: var(--margin-2);

  @media (max-width: $mobile-size) {
    @include fluid-property(margin-bottom, var(--margin-4));
  }
}

.productArrivalsList {
  display: flex;
  align-items: center;
  gap: var(--gap-main);
  overflow: hidden;

  @media (max-width: $mobile-size) {
    @include fluid-property(gap, var(--gap-main-mobile));
  }

  .productArrivalsCard {
    flex: 0 0 auto;
  }
}