.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  transition: var(--transition);
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  user-select: none;
  -webkit-touch-callout: none;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: var(--transform);
    }
  }

  @media (hover: none) and (pointer: coarse) {
    &:active {
      transform: var(--transform);
    }
  }

  &.primary {
    border: var(--border-main);
    border-radius: var(--brs-1);
    color: var(--neutral-color-07);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--neutral-color-01);
        background-color: var(--neutral-color-07);
      }
    }

    @media (hover: none) and (pointer: coarse) {
      &:active {
        color: var(--neutral-color-01);
        background-color: var(--neutral-color-07);
      }
    }
  }

  &.secondary {
    border: var(--border-main);
    border-radius: var(--brs-2);
    color: var(--neutral-color-07);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--neutral-color-01);
        background-color: var(--neutral-color-07);
      }
    }

    @media (hover: none) and (pointer: coarse) {
      &:active {
        color: var(--neutral-color-01);
        background-color: var(--neutral-color-07);
      }
    }
  }

  &.tertiary {
    color: var(--neutral-color-07);
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      height: 1px;
      background-color: var(--neutral-color-07);
      left: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      transition: var(--transition);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        &::before{
          opacity: 1;
        }
      }
    }

    @media (hover: none) and (pointer: coarse) {
      &:active {
        &::before{
          opacity: 1;
        }
      }
    }
  }

  &.select {
    border: var(--border-tertiary);
    border-radius: var(--brs-1);
    color: var(--neutral-color-07);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: none;
      }
    }

    @media (hover: none) and (pointer: coarse) {
      &:active {
        transform: none;
      }
    }
  }
}