.icon {
  width: var(--icon-size-main);
  height: var(--icon-size-main);

  &.stroke {
    fill: none;
    stroke: var(--neutral-color-07);
  }

  &.stroke-fair {
    fill: none;
    stroke: var(--neutral-color-04);
  }

  &.stroke-middle {
    fill: none;
    stroke: var(--neutral-color-05);
  }

  &.fill {
    fill: var(--neutral-color-07);
    stroke: none;
  }

  &.fill-fair {
    fill: var(--neutral-color-04);
    stroke: none;
  }

  &.fill-middle {
    fill: var(--neutral-color-05);
    stroke: none;
  }

  &.fillAndStroke {
    fill: var(--neutral-color-07);
    stroke: var(--neutral-color-07);
  }

  &.fillAndStroke-fair {
    fill: var(--neutral-color-04);
    stroke: var(--neutral-color-04);
  }

  &.fillAndStroke-middle {
    fill: var(--neutral-color-05);
    stroke: var(--neutral-color-05);
  }
}
