@use '@/shared/lib/styles/mixins' as *;
@use '@/shared/lib/styles/scss-vars' as *;

.titleArticles {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-family: var(--headline_4_font-family);
    font-weight: var(--headline_4_font-weight);
    font-size: var(--headline_4_font-size);
    line-height: var(--headline_4_line-height);
    letter-spacing: var(--headline_4_letter-spacing);

    @media (max-width: $mobile-size) {
      @include fluid-property(font-size, var(--headline_4_font-size));
    }
  }
}