.notificationBar {
  height: 40px;
  background-color: var(--neutral-color-02);

  display: flex;
  align-items: center;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    .link {
      font-size: 14px;
      line-height: 1.7143;
      color: var(--secondary-color-1);

      &::before {
        background-color: var(--secondary-color-1);
      }

      svg {
        stroke: var(--secondary-color-1);
      }
    }
  }

  .crossButton {
    margin-right: 16px;

    .cross {
      width: 20px;
      height: 20px;
    }
  }
}