@use '@/shared/lib/styles/mixins' as *;
@use '@/shared/lib/styles/scss-vars' as *;

.header {
  height: 100%;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;

    @media (max-width: $mobile-size) {
      @include fluid-property(height, 60px)
    }

    .logoWrapper {
      display: flex;
      align-items: center;
      gap: 4px;

      .buttonIconMenu {
        @media (min-width: ($mobile-size + 1)) {
          display: none;
        }

        .iconMenu {
          @media (max-width: $mobile-size) {
            @include fluid-property(width, var(--icon-size-main));
            @include fluid-property(height, var(--icon-size-main));
          }
        }
      }
    }

    .navbar {
      @media (max-width: $mobile-size) {
        display: none;
      }

      @media (max-width: $tablet-size) {
        gap: 15px;
      }
    }

    .iconWrapper {
      display: flex;
      align-items: center;
      gap: 16px;

      @media (max-width: $tablet-size) {
        gap: 8px;
      }

      .buttonIconSearch {
        @media (max-width: $mobile-size) {
          display: none;
        }
      }

      .buttonIconUserCircle {
        @media (max-width: $mobile-size) {
          display: none;
        }
      }
    }
  }
}
