@use '@/shared/lib/styles/mixins' as *;
@use '@/shared/lib/styles/scss-vars' as *;

.wrapper {
  gap: 5px;

  @media (max-width: $mobile-size) {
    @include fluid-property(gap, 5px);
  }

  .shoppingBag {
    @media (max-width: $mobile-size) {
      @include fluid-property(width, var(--icon-size-main));
      @include fluid-property(height, var(--icon-size-main));
    }
  }

  .count {
    min-width: 20px;
    min-height: 20px;
    padding-left: 6px;
    padding-right: 6px;
    color: var(--neutral-color-01);
    background-color: var(--neutral-color-07);
    border-radius: var(--brs-4);
    font-family: var(--font-family-main);
    font-weight: 700;
    font-size: 12px;
    line-height: 0.83;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $mobile-size) {
      @include fluid-property(min-width, 20px);
      @include fluid-property(min-height, 20px);
      @include fluid-property(padding-left, 6px);
      @include fluid-property(padding-right, 6px);
      @include fluid-property(font-size, 12px);
      @include fluid-property(border-radius, var(--brs-4));
    }
  }
}